@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}
textarea:focus,
input:focus {
    outline: none;
}
a{
    text-decoration: none;
}
body {
    overflow-x: hidden;
    background: #f1f1f1;
}

.log {
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    img {
        width: 8rem;
    }
}

.loginform {
    background: #f1f1f1;

    padding: 2rem;
    position: relative;
    top: -4rem;
    border-radius: 2rem 2rem 0 0;
    display: flex;
    justify-content: center;

    form {
        display: flex;
        flex-direction: column;
        line-height: 2;
        width: 100%;
        .input_things {
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;
            p {
                font-size: 1.2rem;
            }
            input {
                border: none;
                padding: .7rem;
                border-radius: 6px;
                box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
            }
           
        }
        .forgerpass{
            margin-top: -1.5rem;
            font-size: .8rem;
            text-align: end;
           
            a{
                color: #5a5959;
            }
        }
        .submit{
        text-align: center;
        margin-top: 1.5rem;
            .btn-submit{
                background: #F05439;
               color: #FFF;
               width: 30%;
                    display: inline-block;
                font-weight: 400;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                border: 1px solid transparent;
                padding: .375rem .75rem;
                font-size: 1rem;
                line-height: 1.5;
                border-radius: .25rem;
                transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
               &:hover{
                background-color: #c15c4b;
               }
            }
        }

        .logwithg{
            text-align: center;
            margin-top: 2rem;
            p{
                margin-bottom: 1rem;
            }
            a{
                margin: 1rem;
            img{
                width: 2rem;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                border-radius: 5px;
            }
        }}
    }
}
